/* Catppuccin Macchiato Color Theme variable declaration */
:root{
  --mauve: #c6a0f6;
  --blue: #8aadf4;
  --peach: #f5a97f;
  --pink: #f5bde6;
  --red: #ed8796; 
  --text: #cad3f5;
  --subText: #b8c0e0;
  --base: #24273a;
  --surface: #363a4f;
}

.center-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--surface);
}

.main-container{
  display: flex;
  flex-direction: column;
  background-color: var(--base);
  width: 50vw;
  height: fit-content;
  padding: 10px 0 10px 10px;
  border-radius: 10px;
  color: var(--text);
}

.main-container form{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}


.main-container input:not([type="submit"]){
  border-radius: 10px;
  border: none;
  width: 80%;
  padding: 2px;
  margin: 2px;
  padding: 5px;
}

.main-container a, input:last-child{
  display: block;
  margin: 2px 0 4px;
}

.main-container a{
  color: var(--text);
  text-decoration-color: var(--red);
  text-decoration-thickness: 2px;
  font-size: 1.05rem;
  margin: 2px 0 6px;
  transition: 0.4s;
  width: fit-content;
}

.main-container a:hover{
  text-decoration-color: var(--blue);
}

